*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
	font-family:'Fuzzy Bubbles',cursive;
}

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2px 5%;
    background:#FCFAF4;
    position:sticky;
    box-shadow:0 3px 5px rgba(0,0,0,.08);
}

.logo img{
    width:200px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:40px;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-weight:600;
    transition:.3s;
}

nav ul li a:hover{
    color:#D97706;
}





/* ===================== */
/*   HERO                */
/* ===================== */

.hero{ 
	position: relative;
	width: 100%; 
	overflow: hidden; }

.hero-image{ 
	width: 100%;
	height: auto;
	display: block; }

.hero-content{ 
	position: absolute; 
	top: 50%; 
	left: 8%; 
	transform: translateY(-50%);
	color: white; max-width: 450px; 
}

.hero h1{
	font-family:"Rubik Bubbles", cursive;
	font-style:bold;
	color:#CA6028;
    font-size: 70px;
    margin-bottom: 20px;
}

.hero p{
    font-family:'Fuzzy Bubbles',cursive;
	font-weight:700;
	color:#939C67;
    font-size: 24px;
    margin-bottom: 35px;
    line-height: 1.;
}

.hero-btn{
    display: flex;
    gap: 20px;
}

.browse-btn{
    background:#FFD668;
    color:#444;
    padding:15px 35px;
    border-radius:40px;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.browse-btn:hover{
    transform:translateY(-3px);
    background:#ffcb43;
}

.submit-btn{
    background:#FFD668;
    color:#444;
    padding:15px 35px;
    border-radius:40px;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.submit-btn:hover{
    transform:translateY(-3px);
    background:#ffcb43;
}

/* ===================== */
/*   About               */
/* ===================== */


.about{
    position:relative;
    width:100%;
}

.about img{
    width:100%;
    display:block;
}

.about-content{
    position:absolute;
    top:50%;
    right:10%;
    transform:translateY(-50%);
    width:35%;
}

.about-content h2{
    font-family:'Fuzzy Bubbles',cursive;	
    font-size:45px;
    color:#2F4F3EEE;
    margin-bottom:20px;
}

.about-content p{
    font-family:'Fuzzy Bubbles',cursive;
    font-size:20px;
    line-height:1.3;
    color:#939C67;
    margin-bottom:15px;
}



/* ===================== */
/*     How To Submit     */
/* ===================== */

.submit-pet{
    position:relative;
    width:100%;
}

.submit-bg{
    width:100%;
    margin-left:0;
    display:block;
}

.submit-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:92%;
    text-align:center;
}

.submit-content h2{
    font-family:'Fuzzy Bubbles',cursive;
    font-size:56px;
    color:#D55F27;
    margin-bottom:10px;
}

.subtitle{
    font-family:'Fuzzy Bubbles',cursive;
    font-size:22px;
    color:#65713B;
    margin-bottom:40px;
}

/* 卡片 */

.submit-cards{
    display:flex;
    justify-content:center;
    gap:28px;
}

.submit-card{
    position:relative;
    width:24%;
    min-height:400px;
    border:3px solid #FBE6CB;
    border-radius:25px;
    padding:22px 25px 28px;
    background:transparent;
    transition:.3s;

    display:flex;
    flex-direction:column;
    align-items:center;
}

.submit-card:hover{
    transform:translateY(-8px);
}

/* 数字 */

.step{
    position:absolute;
    top:18px;
    left:18px;
    width:46px;
    height:46px;
    background:#D8662E;
    color:#fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight:bold;
}

/* 标题 */

.submit-card h3{
    font-family:'Fuzzy Bubbles',cursive;
    color:#2F4F3E;
    font-size:31px;
    line-height:1.25;
    margin-top:6px;
    margin-bottom:0;
}

/* 图标 */

.submit-card img{
    width:180px;
    height:180px;
    object-fit:contain;
    display:block;
    margin:-12px auto -10px;
}

/* 内文 */

.submit-card p{
    font-family:'Fuzzy Bubbles',cursive;
    color:#939C67;
    font-size:18px;
    line-height:1.45;
    margin:0;
}

/* Email */

.email{
    margin-top:0;
    margin-bottom:10px;
}

.email a{
    color:#939C67;
    font-weight:bold;
    text-decoration:none;
}

.email a:hover{
    text-decoration:underline;
}

/* List */


/* List */

.submit-card ul{
    color:#939C67;
    font-family:'Fuzzy Bubbles', cursive;
    font-size:18px;
    line-height:1.5;
}

.info-card ul{
    list-style:none;
    padding:0;
    margin-top:-5px;
    margin-bottom:0;
}

.info-card li{
    position:relative;
    padding-left:16px;
    margin-bottom:5px;
    text-align:left;

    color:#939C67;
    font-family:'Fuzzy Bubbles', cursive;
    font-size:18px;
}

.info-card li::before{
    content:"•";
    position:absolute;
    left:0;
    top:0;
    color:#939C67;
}


/* ===================== */ /* Browse Pets */ /* ===================== */ 
.browse-pets{ 
	background:#FCFAF4;
	width:100%; font-family:
		'Fuzzy Bubbles',cursive; 
} 

.browse-container{
	width:90%; 
	margin:auto; 
}
.browse-header{ 
	position:relative; 
	display:flex; 
    justify-content:center;
	align-items:center; 
	margin-bottom:35px; 
}
.title{ 
	display:flex; 
	justify-content:center;
	align-items:center;
	gap:15px;
	padding-top:20px;
} 

.title img{
	width:50px;
} 

.title h2{
	font-family:'Fuzzy Bubbles',cursive; font-size:46px; color:#D55F27;

} 

.view-all{
	position:absolute; right:0; top:80%;
	transform:translateY(-50%);
	text-decoration:none; color:#905841; 
	font-size:18px; 
	font-weight:bold; 
	transition:.3s;
} 

.view-all:hover{ 
	color:#D55F27; 
} 

.pet-container{
	display:flex;
	justify-content:
	space-between;
	gap:25px;
	padding-bottom:25px;
}

.pet-card{ 
	width:100%;
	background:#FDF3E0;
	border-radius:20px;
	transition:.3s; 
	box-shadow:0 8px 18px rgba(0,0,0,.08);
	overflow:hidden;
} 

.pet-card:hover{ 
	transform:translateY(-8px);
} 

.pet-image{
	position:relative; 
	height:180px; 
	display:flex;
	justify-content:center; 
	align-items:center;
	overflow:visible;
} 

.coco{
	background:#F8CBA6;
} 

.luna{
	background:#D9DEBD;
} 

.beary{
	background:#FDD58B;
} 

.lucky{
	background:#B5CCDA;
}

.dog-img{
	width:140px; 
	position:relative; 
	z-index:1; 
} 

.love-icon{ 
	position:absolute;
	top:15px;
	right:15px;
	width:28px;
	height:28px;
	z-index:20;
} 

.pet-info{
	padding:18px;
} 

.pet-info h3{
	color:#CC5E29; 
	font-size:28px; 
	margin-bottom:12px;
}

.pet-info p{
	color:#2F4F3E; 
	font-size:16px; 
	line-height:1.7;
} 

.watch-btn{ 
	display:inline-block; 
	margin-top:15px; 
	background:#D55F27;
	color:white;
	padding:10px 18px;
	text-decoration:none;
	border-radius:30px;
	font-size:15px;
	transition:.3s; 
} 

.watch-btn:hover{ background:#B94D1B; }


/* ===================== */
/*       Why Adopt       */
/* ===================== */
.why-adopt-section {  
	background-color: #F8EFE0; 
	padding: 50px 60px 60px;
	}

.why-adopt-title {
	font-family:"Fuzzy Bubble", cursive;
	font-size:39px; 
	color:#D55F27; 
	text-align:center; 
	margin-bottom:40px; 
	}

.reasons-row {  
	display: flex; 
	align-items:center;
	justify-content:center; 
	gap: 0;
	}

.reason-card { 
	display: flex; 
	flex-direction: column;
	align-items: center; 
	justify-content: flex-start; 
	gap: 18px; 
	padding: 20px 40px; 
	text-align: center; 
	flex: 1; 
	max-width: 200px;
	}

.icon-wrap {
	width:100%;
	height:50px; 
	border-radius:50%;
	display:flex; 
	align-items: center; 
	justify-content: center;
	}

.reason-icon {
	width:250%;
	object-fit: contain;

	}

.reason-text {
	font-family: 'Nunito', sans-serif;
	font-size: 0.95rem;
	font-weight: 700;
	color: #3a2a1e;
	line-height: 1.5;
	}
	
.divider {
	width: 1px;
	height: 140px;
	background-color: #d9ccbb;
	flex-shrink: 0;
	}
	
/* ===================== */
/*        Footer         */
/* ===================== */	
footer{
    width:100%;
    margin-top:0;
}

.footer-content{
    background:#F3F6DD;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:45px 90px;
}

.footer-left h2{
    color:#2F4F3E;
    font-size:30px;
    margin-bottom:15px;
}

.footer-left p{
    color:#939C67;
    font-size:20px;
    line-height:1.5;
}

.footer-right{
    text-align:center;
}

.footer-right h3{
    color:#2F4F3E;
    font-size:32px;
}

.social-icons{
    display:flex;
    gap:2px;
    justify-content:center;
}

.social-icons img{
    width:90px;
   transition:.3s;
}

.social-icons img:hover{
    transform:scale(1.15);
}

.copyright{
    background:#C75927;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.copyright img{
    width:35px;
}

.copyright p{
    color:white;
    font-size:16px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
	font-family:'Fuzzy Bubbles',cursive;
}

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2px 5%;
    background:#FCFAF4;
    position:sticky;
    box-shadow:0 3px 5px rgba(0,0,0,.08);
}

.logo img{
    width:200px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:40px;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-weight:600;
    transition:.3s;
}

nav ul li a:hover{
    color:#D97706;
}



/* ===================== */
/*    allpet   */
/* ===================== */



/* ===================== */
/*   HERO                */
/* ===================== */


.hero{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-image{
    width: 100%;
    height: auto;
    display: block;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
    max-width: 450px;
}

.hero h1{
	font-family:"Rubik Bubbles", cursive;
	font-style:bold;
	color:#CA6028;
    font-size: 70px;
    margin-bottom: 20px;
}

.hero p{
    font-family:'Fuzzy Bubbles',cursive;
	font-weight:700;
	color:#939C67;
    font-size: 24px;
    margin-bottom: 35px;
    line-height: 1.;
}

.hero-btn{
    display: flex;
    gap: 20px;
}

.browse-btn{
    background:#FFD668;
    color:#444;
    padding:15px 35px;
    border-radius:40px;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.browse-btn:hover{
    transform:translateY(-3px);
    background:#ffcb43;
}

.submit-btn{
    background:#FFD668;
    color:#444;
    padding:15px 35px;
    border-radius:40px;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.submit-btn:hover{
    transform:translateY(-3px);
    background:#ffcb43;
}

/* ===================== */
/*   About               */
/* ===================== */
.about{
    position:relative;
    width:100%;
}

.about img{
    width:100%;
    display:block;
}

.about-content{
    position:absolute;
    top:50%;
    right:10%;
    transform:translateY(-50%);
    width:35%;
}

.about-content h2{
    font-family:'Fuzzy Bubbles',cursive;	
    font-size:45px;
    color:#2F4F3EEE;
    margin-bottom:20px;
}

.about-content p{
    font-family:'Fuzzy Bubbles',cursive;
    font-size:20px;
    line-height:1.3;
    color:#939C67;
    margin-bottom:15px;
}

/* ===================== */
/*     How To Submit     */
/* ===================== */
.submit-pet{
    position:relative;
    width:100%;
}

.submit-bg{
    width:100%;
    display:block;
}

.submit-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    text-align:center;
}

.submit-content h2{
    font-family:'Fuzzy Bubbles',cursive;
    font-size:52px;
    color:#D55F27;
    margin-bottom:8px;
}

.subtitle{
    font-family:'Fuzzy Bubbles',cursive;
    font-size:22px;
    color:#65713B;
    margin-bottom:55px;
}

.submit-cards{
    display:flex;
    justify-content:space-between;
    gap:25px;
}

.submit-card{
    position:relative;
    width:24%;
    border:3px solid #FBE6CB;
    border-radius:22px;
    padding:25px 20px;
    background:transparent;
    transition:.3s;
}

.submit-card:hover{
    transform:translateY(-8px);
}

.step{
    position:absolute;
    top:18px;
    left:18px;
    width:34px;
    height:34px;
    background:#D8662E;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    font-weight:bold;
}

.submit-card h3{
    font-family:'Fuzzy Bubbles',cursive;
    color:#2F4F3EEE;
    font-size:30px;
    margin-top:5px;
    margin-bottom:20px;
}

.submit-card img{
    width:100px;
    display:block;
    margin:0 auto 20px;
}

.submit-card p{
    font-family:'Fuzzy Bubbles',cursive;
    color:#939C67;
    font-size:18px;
    line-height:1.5;
}

.email{
    margin-bottom:12px;
}

.email a{
    color:#939C67;
	font-weight:bold;
	text-decoration:none;
}

.email a:hover{
	text-decoration:underline;
}

.submit-card ul{
    width:150px;
    margin:10px auto 0;
    text-align:center;
    color:#939C67;
    font-family:'Fuzzy Bubbles',cursive;
    font-size:18px;
    line-height:1.3;
}

.submit-card li{
    margin-bottom:3px;
	font-family:'Fuzzy Bubbles',cursive;
}

/* ===================== */
/*      Browse Pets      */
/* ===================== */
.browse-pets{
	background:#FCFAF4;
    width:100%;
    font-family:'Fuzzy Bubbles',cursive;
}

.browse-container{
    width:90%;
    margin:auto;
}

.browse-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.title{
	padding-top:20px;
	padding-left:37%;
    display:flex;
    align-items:center;
    gap:15px;
    font-family:'Fuzzy Bubbles',cursive;
}

.title img{
    width:50px;
}

.title h2{
    font-family:'Fuzzy Bubbles',cursive;
    font-size:46px;
    color:#D55F27;
}

.view-all{
    text-decoration:none;
    color:#905841;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.view-all:hover{
    color:#D55F27;
}

.pet-container{
    display:flex;
    justify-content:space-between;
    gap:25px;
	padding-bottom:25px;
}

.pet-card{
    width:100%;
    background:#FDF3E0;
    border-radius:20px;
    transition:.3s;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
	overflow:hidden;
}

.pet-card:hover{
    transform:translateY(-8px);
}

.pet-image{
    position:relative;
    height:180px;
    display:flex;
    justify-content:center;
    align-items:center;
	overflow:visible;
}

.coco{
    background:#F8CBA6;
}

.luna{
    background:#D9DEBD;
}

.beary{
    background:#FDD58B;
}

.lucky{
    background:#B5CCDA;
}

.dog-img{
    width:140px;
	position:relative;
	z-index:1;
}

.love-icon{
    position:absolute;
    top:15px;
    right:15px;
    width:28px;
    height:28px;
    z-index:20;
}

.pet-info{
    padding:18px;
}

.pet-info h3{
    color:#CC5E29;
    font-size:28px;
    margin-bottom:12px;
}

.pet-info p{
    color:#2F4F3E;
    font-size:16px;
    line-height:1.7;
}

.watch-btn{
    display:inline-block;
    margin-top:15px;
    background:#D55F27;
    color:white;
    padding:10px 18px;
    text-decoration:none;
    border-radius:30px;
    font-size:15px;
    transition:.3s;
}

.watch-btn:hover{
    background:#B94D1B;
}

/* ===================== */
/*       Why Adopt       */
/* ===================== */
.why-adopt-section {  
	background-color: #F8EFE0; 
	padding: 50px 60px 60px;
	}

.why-adopt-title {
	font-family:"Fuzzy Bubble", cursive;
	font-size:39px; 
	color:#D55F27; 
	text-align:center; 
	margin-bottom:40px; 
	}

.reasons-row {  
	display: flex; 
	align-items:center;
	justify-content:center; 
	gap: 0;
	}

.reason-card { 
	display: flex; 
	flex-direction: column;
	align-items: center; 
	justify-content: flex-start; 
	gap: 18px; 
	padding: 20px 40px; 
	text-align: center; 
	flex: 1; 
	max-width: 200px;
	}

.icon-wrap {
	width:100%;
	height:50px; 
	border-radius:50%;
	display:flex; 
	align-items: center; 
	justify-content: center;
	}

.reason-icon {
	width:250%;
	object-fit: contain;

	}

.reason-text {
	font-family: 'Nunito', sans-serif;
	font-size: 0.95rem;
	font-weight: 700;
	color: #3a2a1e;
	line-height: 1.5;
	}
	
.divider {
	width: 1px;
	height: 140px;
	background-color: #d9ccbb;
	flex-shrink: 0;
	}
	
/* ===================== */
/*        Footer         */
/* ===================== */	
footer{
    width:100%;
    margin-top:0;
}

.footer-content{
    background:#F3F6DD;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:45px 90px;
}

.footer-left h2{
    color:#2F4F3E;
    font-size:30px;
    margin-bottom:15px;
}

.footer-left p{
    color:#939C67;
    font-size:20px;
    line-height:1.5;
}

.footer-right{
    text-align:center;
}

.footer-right h3{
    color:#2F4F3E;
    font-size:32px;
}

.social-icons{
    display:flex;
    gap:2px;
    justify-content:center;
}

.social-icons img{
    width:90px;
   transition:.3s;
}

.social-icons img:hover{
    transform:scale(1.15);
}

.copyright{
    background:#C75927;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.copyright img{
    width:35px;
}

.copyright p{
    color:white;
    font-size:16px;
}






/* ===================== */
/*      allpets.html     */
/* ===================== */	
.allpets-bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}

.allpets{
    width:90%;
    margin:auto;
    padding:30px 0 70px;
    font-family:'Fuzzy Bubbles',cursive;
}

.top-back{
    display:flex;
    justify-content:flex-end;
    margin-bottom:20px;
}

.top-back a{
    text-decoration:none;
    color:#8B5A2B;
    font-size:20px;
    font-weight:bold;
    transition:.3s;
}

.top-back a:hover{
    color:#D55F27;
}

.allpets-title{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.allpets-title img{
    width:42px;
}

.allpets-title h1{
    font-size:50px;
    color:#D55F27;
    margin:0;
    font-family:'Fuzzy Bubbles',cursive;
}

.allpets-subtitle{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-top:12px;
    margin-bottom:35px;
    color:#65713B;
    font-size:22px;
}

.allpets-subtitle img{
    width:22px;
}

/* ===================== */
/*      search bar       */
/* ===================== */	

.search-bar{
    width:420px;
    height:52px;
    margin:0 auto 55px;
    background:white;
    border-radius:35px;
    display:flex;
    align-items:center;
    padding:0 20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.search-bar img{
    width:23px;
    margin-right:12px;
}

.search-bar input{
    border:none;
    outline:none;
    background:transparent;
    width:100%;
    font-family:'Fuzzy Bubbles',cursive;
    font-size:17px;
}

/* ===================== */
/*         card          */
/* ===================== */	

.allpet-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:35px;
}

.allpet-container .pet-card{
    background:#FDF3E0;
    border-radius:22px;
    overflow:hidden;
    transition:.35s;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}

.allpet-container .pet-card:hover{
    transform:translateY(-8px);
}

.allpet-container .pet-image{
    height:190px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.allpet-container .dog-img{
    width:145px;
}

.allpet-container .love-icon{
    position:absolute;
    top:16px;
    right:16px;
    width:28px;
}

.allpet-container .pet-info{
    padding:20px;
}

.allpet-container .pet-info h3{
    color:#D55F27;
    font-size:28px;
    margin-bottom:10px;
}

.allpet-container .pet-info p{
    color:#2F4F3E;
    line-height:1.7;
    font-size:16px;
}

.allpet-container .watch-btn{
    display:inline-block;
    margin-top:18px;
    background:#D55F27;
    color:white;
    text-decoration:none;
    padding:10px 22px;
    border-radius:30px;
    transition:.3s;
}

.allpet-container .watch-btn:hover{
    background:#B94D1B;
}






















@media screen and (max-width:768px){

/* Header */
header{
    flex-direction:column;
    padding:15px;
}

.logo img{
    width:140px;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

nav ul li{
    margin:0;
}

nav ul li a{
    font-size:15px;
}

/* Hero */

.hero{
    background:url("Phone 1-01.jpg") center center/cover no-repeat;
    min-height:100vh;
}

.hero-image{
    display:none;
}

.hero-content{
    position:absolute;
    top:65%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    text-align:center;
}

.hero h1{
    font-size:48px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.hero-btn{
    flex-direction:column;
    align-items:center;
}

.browse-btn,
.submit-btn{
    width:220px;
}

/* About */

.about{
    position:relative;
    min-height:100vh;
    background:url("Phone 2-01.jpg") center top/cover no-repeat;
}

.about img{
    display:none;
}

.about-content{
    position:absolute;
    left:50%;
    bottom:90px;
    transform:translateX(-50%);
    width:90%;
    text-align:center;
}

.about-content h2{
    font-size:42px;
}

.about-content p{
    font-size:18px;
}

/* Submit */

.submit-bg{
    display:none;
}

.submit-content{
    position:relative;
    top:auto;
    left:auto;
    transform:none;
    width:100%;
    padding:50px 20px;
    background:#FCF5E8;
}

.submit-cards{
    flex-direction:column;
    align-items:center;
}

.submit-card{
    width:95%;
}

/* Browse Pets */

.browse-header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}

	/* Watch Video */
.watch-btn{
    display:block;
    width:80%;
    margin:15px auto 0;
    text-align:center;
}
	
.title{
    padding:0;
    width:100%;
    justify-content:center;
}

.title h2{
    font-size:36px;
}

.view-all{
    position:static;
    transform:none;
    margin-top:8px;
    text-align:center;
}

.pet-container{
    flex-direction:column;
}

.pet-card{
    width:100%;
}

/* Why Adopt */

.why-adopt-section{
    padding:40px 20px;
}

.why-adopt-title{
    font-size:34px;
}

.reasons-row{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.divider{
    display:none;
}

.reason-card{
    width:100%;
    max-width:320px;
    margin-bottom:35px;
}

.icon-wrap{
    width:120px;
    height:120px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}

.reason-icon{
    width:90px;
    height:90px;
    display:block;
    object-fit:contain;
}

.reason-text{
    font-size:20px;
    line-height:1.5;
}

/* Footer */

.footer-content{
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

.footer-right{
    margin-top:30px;
}

.social-icons img{
    width:70px;
}

.copyright{
    height:auto;
    padding:12px;
    flex-direction:column;
}

.copyright p{
    font-size:14px;
}



	
	.allpets{
    width:92%;
    margin:0 auto;
    padding:20px 0 50px;
}

/* Background */
.allpets-bg{
    object-fit:cover;
}

/* Go Back */
.top-back{
    justify-content:center;
    margin-bottom:25px;
}

.top-back a{
    font-size:18px;
}

/* Title */
.allpets-title{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    flex-wrap:wrap;
}

.allpets-title img{
    width:32px;
}

.allpets-title h1{
    font-size:38px;
    text-align:center;
    line-height:1.2;
}

/* Subtitle */

.allpets-subtitle{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    margin-top:10px;
    margin-bottom:25px;
    flex-wrap:wrap;
    font-size:18px;
    text-align:center;
}

.allpets-subtitle img{
    width:18px;
}

/* Search */

.search-bar{
    width:100%;
    max-width:380px;
    height:50px;
    margin:0 auto 35px;
    border-radius:30px;
    padding:0 18px;
}

.search-bar img{
    width:20px;
    margin-right:10px;
}

.search-bar input{
    font-size:16px;
}
	/* Cards Container */
.allpet-container{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:18px;
    width:100%;
    margin:0 auto;
}

/* Card */
.pet-card{
    width:100%;
    border-radius:18px;
    overflow:hidden;
}

/* Image */
	
.pet-image{
    position:relative;
    height:160px;
    overflow:hidden;
}

.pet-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* Card Content */
.pet-info{
    padding:14px;
}

.pet-info h3{
    font-size:18px;
    margin-bottom:8px;
}

.pet-info p{
    font-size:14px;
    line-height:1.5;
    margin:4px 0;
}

/* Watch Video Button */
.watch-btn{
    width:100%;
    padding:10px 0;
    font-size:15px;
    border-radius:25px;
    margin-top:12px;
}
	
}

















